


#dark{
  background-color:rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

#light {
  background-color:white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
 
  .login-form {

    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: #007bff;
    color:black ;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
 